@import "tailwindcss";
@import "../styles/markdown.css";

/* Infinite sliding animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 40s linear infinite;
  will-change: transform;
}

.animate-slide:hover {
  animation-play-state: paused;
}
